.heading{
    margin-top: 10vh;
    text-align: center;
    h1{
        font-size: 2rem;
    }
    p{
        color:#838383;
    }
}

.log{
    text-align: center;
    margin-top: 30px;
}

.social-login{
    margin-top: 45px;
    text-align: center;
    p{
        color:#838383;
    }
    ion-button{
        width: 40%;
        height: 50px;
        ion-icon{
            font-size: 1.6rem;
        }
    }
    .twitter{
        --background: #00acee;
        margin-right: 20px;
    }
    .facebook{
        --background: #4262b2;
    }
}

.email-login{
    margin-top: 45px;
    text-align: center;
    p{
        color:#838383;
    }
    .signup{
        width:80%;
        height: 50px;
        text-decoration: none;
        font-size:1.6rem;
    }
}