<ion-content>
  <div class="heading">
    <h1>
      Bienvenue
    </h1>
    <p>
      Connexion & Inscription pour continuer à utiliser l'application.
    </p>
  </div>
  <div class="image">
    <img src="assets/welcome.png" alt="" srcset="">
  </div>
  <div class="social-login">
    <p>Via les réseaux sociaux</p>
    <div class="links">
      <ion-button class="twitter" routerLink="/merci">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button class="facebook" routerLink="/merci">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="email-login">
    <p>Ou Connexion par Mail</p>
    <ion-button class="signup" routerLink="/login">
      Connexion
    </ion-button>
  </div>
</ion-content>
