<ion-content>
  <div class="heading">
    <h1>
      Inscription
    </h1>
    <p>
      Inscrit toi pour commencer
    </p>
  </div>
  <div class="social-login">
    <p>Via les réseaux sociaux</p>
    <div class="links">
      <ion-button class="twitter" routerLink="/merci">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button class="facebook" routerLink="/merci">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="email-login">
    <p>Inscription via le mail</p>
    <div class="formfield">
      <input type="text" name="email" id="email">
      <label for="email" placeholder="Email">Email</label>
    </div>
    <div class="formfield">
      <input type="password" name="password" id="password">
      <label for="password" placeholder = "Password">Mot de passe</label>
    </div>
    <div class="other-links">
      <div class="remember-me">
        <ion-checkbox></ion-checkbox>
        <p>J'accepte les conditions d'utilisation </p>
      </div>
    </div>
  </div>
  <div class="login-button">
    <ion-button class="login" routerLink="/merci">Connexion</ion-button>
    <p>Déjà un compte ? <span routerLink="/login">Connexion</span></p>
  </div>
</ion-content>
